version: "3"
services:
    redis:
        image: redis
        ports:
            - "6379:6379"
        volumes:
            - "/var/run/docker.sock:/var/run/docker.sock"
        deploy:
            placement:
                constraints: [node.role == manager]
        networks:
            - webnet
    web:
        image: chiter/codesmart-bit:aws
        deploy:
            replicas: 1
            restart_policy:
                condition: on-failure
        ports:
            - "80:5000"
        user: root
        environment:
            - REDIS_ADDR=redis
            - REDIS_PORT=6379
        command: /bin/sh -c 'python bitstart.py runserver'
        links:
            - redis
        networks:
            - webnet
    celery:
        image: chiter/codesmart-bit:aws
        deploy:
            replicas: 1
            restart_policy:
                condition: on-failure
            placement:
                constraints: [node.role == manager]
        environment:
            - C_FORCE_ROOT=true
            - REDIS_ADDR=redis
            - REDIS_PORT=6379
        command: /bin/sh -c 'python bitstart.py worker --workers=6'
        links:
            - redis
        networks:
            - webnet
    celerybeat:
        image: chiter/codesmart-bit:aws
        deploy:
            replicas: 1
            restart_policy:
                condition: on-failure
            placement:
                constraints: [node.role == manager]
        environment:
            - C_FORCE_ROOT=true
            - REDIS_ADDR=redis
            - REDIS_PORT=6379
        command: /bin/sh -c 'python bitstart.py beat'
        links:
            - redis
        networks:
            - webnet
    celeryflower:
        image: chiter/codesmart-bit:aws
        deploy:
            replicas: 1
            restart_policy:
                condition: on-failure
            placement:
                constraints: [node.role == manager]
        ports:
            - "5555:5555"
        environment:
            - C_FORCE_ROOT=true
            - REDIS_ADDR=redis
            - REDIS_PORT=6379
        command: /bin/sh -c 'python bitstart.py flower -a 0.0.0.0'
        links:
            - redis
        networks:
            - webnet
networks:
    webnet: